@font-face {
    font-family: "Kalam";
    src: url("../fonts/Kalam-Light.ttf");
}
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    max-width: 1080px;
    background-color: white;
    margin: 0 auto;
}
#page {
    display: grid;
    grid-template-rows: 2fr 40fr 10fr;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
#gBoard {
    background-image: url("../images/empty-blackboard.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #FFE77AFF;
    font-size: 24px;
    font-family: 'Kalam','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}
#studentText {
    width: 100%;
    line-height: 150%;
}
#btn {
    padding: 5px;
}